name: Deploy API

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Pull latest code and restart Docker
        run: |
          # Go to your API repo
          cd /home/tristan/API/API_Repoed/THOR_API
          git pull --rebase

          # Go to docker folder and restart everything
          cd /home/tristan/Docker
          docker compose down
          docker compose up -d --build
